*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: 'Open Sans', sans-serif;
  --ff-secondary:'Noto Sans JP', sans-serif;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #FF9C10;
  /* --clr-accent: #ffb310; */

  --fs-h1: 4rem;
  --fs-h2: 3.25rem;
  --fs-h3: 2.5rem;
  --fs-body: 1.15rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

 /* Font sizes for screens under 992px */

 @media (max-width: 992px) {
  :root {
      --fs-h1: 3rem;
      --fs-h2: 2.25rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.15rem;
  }
}

 /* Font sizes for screens over 1650px */

 @media (min-width: 1650px) {
  :root {
      --fs-h1: 5rem;
      --fs-h2: 4rem;
      --fs-h3: 3rem;
      --fs-body: 1.5rem;
  }
}

/* Font sizes for screens under 575px */

@media (max-width: 575px) {
  :root {
    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1rem;
    --fs-body: .9rem;
  }
}

/* General Styles */

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
body {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  background-color: var(--clr-light);
  line-height: 1.6;
}
a {
  color: var(--clr-dark);
  text-decoration: none;
}
ul {
  display: inline-block;
  list-style: none;
}
.section-title {
  color: #fff;
  padding-bottom: .75em;
  font-family: var(--ff-primary);
  margin: 0 auto;
  margin-top: 1em;
}
:focus {
  outline: 1px solid var(--clr-accent);
  outline-offset: 2px;
}

@media (min-width: 1650px) {
  .section-title {
    padding-bottom: 1em;
    margin-top: 1.25em;
  }
}

/* Header */

header {
  background-color: var(--clr-dark);
  width: 100%;
  padding: 1em 3%;
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--clr-accent);
}
.logo a {
  color: #fff;
  font-size: 1.25rem;
  margin-left: 4em;
  text-decoration: none;
  border-bottom: 1px solid var(--clr-accent);
  letter-spacing: .01em;
}
.nav {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  margin-right: 2.5em;
}
.nav-btn {
  display: none;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav-link {
  color: inherit;
  font-size: 1.25rem;
  margin-right: 1.5em;
}
.nav-link:hover {
  color: var(--clr-accent);
}

/* Media Queries Header */

@media (min-width: 1650px) {

  .logo a {
    font-size: 1.5rem;
  }
  .nav-link {
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {

  header {
    padding: 1.5em 5%;
  }
  .logo a {
    margin-left: 2em;
  }
  .nav {
    background-color: var(--clr-dark);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
  }
  .nav-list {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .nav-link {
    font-size: var(--fs-h2);
    font-weight: 700;
    margin-right: 0;
  }
  .nav-btn {
    display: inline-block;
  }
  .nav-toggle {
    padding: 1em .5em;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
    right: 1em;
    z-index: 4;
  }
  .nav-toggle:focus {
    outline: 3px solid rgba(109, 109, 109, 0.8);
  }
  .nav-open .nav {
    transform: translateX(0);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
  }
  /* .nav-open .nav-toggle {
    position: fixed;
  } */
  .nav-open .hamburger {
    transform: rotate(.625turn);
  }
  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
  }
  .nav-open .hamburger::after {
    opacity: 0;
  }
  .hamburger {
    display: block;
    position: relative;
  }
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 450ms ease-in-out;
  }
  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }
  .hamburger::before {
    top: 6px;
  }
  .hamburger::after {
    bottom: 6px;
  }
}

@media (max-width: 575px) {
  .logo a {
    margin: 0;
  }
}

/* Intro Section */

.intro {
  top: 3em;
  padding: 8em 2em;
  position: relative;
}
.main-title {
  font-family: var(--ff-primary);
  font-weight: 800;
}
.main-title strong {
  display: block;
  text-align: center;
}
.main-subtitle {
  font-family: var(--ff-secondary);
  margin-top: 2em;
  font-size: 1.5rem;
  background-color: var(--clr-accent);
  padding: .25em 1em;
  margin-bottom: 1.5em;
  display: block;
  text-align: center;
  font-weight: 400;
  letter-spacing: .1em;
}
.intro-img {
  display: none;
}

/* Media Queries Intro Section */

@media (min-width: 993px) {

  .intro {
    top: 4.5em;
    padding: 6em 2em;
    display: grid;
    width: min-content;
    margin: 0 auto;
    margin-bottom: 4em;
    column-gap: 1em;
    grid-template-areas:
        'img title'
        'img subtitle';
    grid-template-columns: min-content max-content;
  }
  .main-title {
    position: relative;
    top: 1.25em;
    margin-bottom: .25em;
  }
  .intro-img {
    display: block;
    max-width: 260px;
    box-shadow: var(--bs);
    grid-area: img;
    position: relative;
    z-index: 3;
  }
  .main-subtitle {
  align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
  }
}

@media (min-width: 1650px) {
  .intro-img {
    display: block;
    max-width: 320px;
    box-shadow: var(--bs);
    grid-area: img;
    position: relative;
    z-index: 3;
  }
}

@media (max-width: 575px) {

  .intro {
    top: 4em;
  }
  .intro {
    padding: 5em 2em;
  }
  .main-subtitle {
    font-size: 1.15rem;
  }
}

/* Projects Section */

.projects {
  background-color: var(--clr-dark);
}
.carousel {
  margin-bottom: 4em;
  z-index: 2;
  border: 1px solid var(--clr-accent);
}
.carousel-img {
  height: 470px;
  width: 100%;
}
.carousel-caption {
  margin-bottom: 3em!important;
  background-color: rgba(14, 14, 14, 0.85);
  padding: 2em;
  border: 1px solid var(--clr-accent);
  border-radius: 45px;
}
.project-title {
  font-size: var(--fs-h3);
  font-family: var(--ff-primary);
  color: var(--clr-light);
  margin: 0;
}
.carousel-text {
  margin: 2em auto;
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
}
.carousel-btn {
  font-size: 0.85em;
  font-weight: var(--fw-bold);
  display: inline-block;
  padding: .25em .5em;
  margin: 0 1em;
  background-color: var(--clr-accent);
  color: #000;
  text-decoration: none;
  cursor: pointer;
  width: 170px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: transform 50ms ease-in-out;
}
.carousel-btn:hover {
  color: #000;
  transform: scale(1.1);
  text-decoration: none;
}

/* Media Queries for Projects Section */

@media (min-width: 1650px) {

  .carousel {
    margin-bottom: 6em;
    z-index: 2;
    border: 1px solid var(--clr-accent);
  }
  .carousel-caption {
    margin-bottom: 3.5em!important;
    padding: 2em;
  }
  .carousel-btn {
    width: 190px;
  }
  .carousel-img {
    height: 650px;
    width: 100%;
  }
  .carousel-indicators li {
    width: 60px!important;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 30px!important;
    height: 30px!important;
  }
}

@media (max-width: 992px) {
  .projects-title{
    padding-bottom: 1em;
    margin-top: 1.5em;
  }

  .carousel-img {
    height: 400px;
    width: 100%;
  }

  .carousel-caption {
    margin-bottom: 2.5em!important;
    padding: 1em 1em;
  }

  .carousel-title {
    font-size: 2em;
  }

  .carousel-text {
    margin: 1em auto;
    font-size: 1em;
  }

  .carousel-btn {
    width: 130px;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    margin-bottom: 2.5em!important;
    /* padding: 1.5em 1em; */
  }
  .carousel-img {
    height: 320px;
    width: 100%;
  }
  .project-title {
    font-size: 1.25em;
    padding-bottom: 1.25em;
  }
  .carousel-btn {
    font-size: 0.75em;
    display: block;
    margin: 0 auto;
    width: 130px;
  }
  .carousel-btn + .carousel-btn {
    margin-top: 1em;
  }
}

@media (max-width: 575px){
  .projects-title{
    color: #fff;
    padding-bottom: .75em;
    font-size: var(--fs-h2);
    margin: 0 auto;
    margin-top: .75em;
  }
  .carousel-img {
    height: 250px;
    width: 100%;
  }
}

/* Skills Section */

.section-title-black {
  color: black;
}

#skills-shadow {
  background-color: #303030;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 3em;
  padding-top: 3em;
}

.skills-container {
  margin-bottom: 3em;
  border: 3px solid var(--clr-accent);
  min-width: 40%;
}

.skills-text {
  background-color: rgba(14, 14, 14, 0.6);
  /* background-color: var(--clr-dark); */
  color: #fff;
  margin: 3em auto;
  padding: .5em 2em;
  border: 1px solid var(--clr-accent);
  border-radius: 35px;
  text-align: center;
}

.skills-text-title {
  color: #fff;
  padding: .25em 1em;
  display: block;
  width: fit-content;
  font-family: var(--ff-primary);
  font-size: 26px;
  line-height: 1.6;
  border-bottom: 3px solid var(--clr-accent);
}

.skills-list {
  font-family: var(--ff-secondary);
  font-size: 1.25rem;
  padding: 1em;
  margin-bottom: 0;
}

/* Media Queries for Skills Section */

@media (max-width: 575px){

  .skills-main-title {
    padding: .75em 0;
  }

  .skills-container {
    margin-bottom: 1em;
  }

  .skills-text {
    margin: 2em auto;
    padding: .5em 2em;
    border: 1px solid var(--clr-accent);
    border-radius: 35px;
    text-align: center;
  }

  .skills-text-title {
    font-size: 22px;
    padding: .25em .5em;
  }

  .skills-list {
    font-size: var(--fs-body);
    padding: .5em 0;
  }
}

/* Contact Section */

#contact {
  padding: 2em 0;
  padding-bottom: 6em;
  background-color: var(--clr-dark);
}

.contact-container {
  background-color: rgba(14, 14, 14, 0.6);
  display: flex;
  width: 60%;
  margin: 0 auto;
  padding: 2em 0;
  padding-bottom: 1em;
  justify-content: space-evenly;
  border: 1px solid var(--clr-accent);
  border-radius: 15px;
  flex-wrap: wrap;
}

.contact-box {
  margin: 0 1em;
  margin-bottom: 1em;
  padding: 0 .5em;
  background-color: var(--clr-accent);
  cursor: pointer;
  border-radius: 5px;
  transition: transform 50ms ease-in-out;
}

.contact-link {
  color: #000;
  font-size: 1.25rem;
}

.contact-link:hover {
  text-decoration: none;
}

.contact-box:hover {
  transform: scale(1.1);
}

/* Bootstrap breakpoints:

xs - 576px and under
sm - 576px and over
md - 768px and over
ls - 992px and over
xl - 1200px and over

*/